@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald:wght@600&display=swap');

/*FONTS*/
$font-main: 'Lato',sans-serif;
$font-heading: 'Oswald', sans-serif;

/*COLORS*/
$color_one: #887474;
$color_second: #000000;
$color_third: #FFFFFF;
$fourth_color: #ff5349;

/*GLOBAL*/
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: $color_one;
  // background-image: url('../images/background_triangles.webp');
  font-family: $font-main;
  //font-size: 18px;
  height: 100vh;
  //width: 100vh;
  //color: #FFFFFF;
  // margin: 0;
  // padding: 0;
  // line-height: 1.7;
  // font-size: 16px;
  // overflow: hidden;
}

/*HEADER*/

.header {
  position: relative;
  padding: 0 0.5rem;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo a {
    position: relative;
    top: 4rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }

  .links {
    display: flex;
    gap: 2rem;
  }
}
.maq {
  position: relative;
  left: 8rem; // KLASA WŁASNA PRZESUNIĘCIE NAVIGACJI I GET STARTED
}

/*---NAVIGATION---*/

li {
  list-style: none;
}

a{
  text-decoration: none;
  color: $color_third;font-size: 1rem;

  &:hover {
    color: $fourth_color;
  }
}

.action_btn {
  background-color: $fourth_color;
  color: $color_third;
  padding: 0.6rem 1rem;
  border: none;
  // outline: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
  transition: scale 0.2 ease;

  &:hover {
    scale: 1.05;
    color: $color_second;
  }

  &:active {
    scale: 0.95;
  }
}

.toggle_btn {
  pointer-events: none; //ODPOWIADA ZA BRAK KLIKALNOŚCI BURGERA
  visibility: hidden; // ODPOWIADA ZA UKRYCIE BURGERA
  background: transparent;
  border: none !important;
  font-size:0;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.toggle_btn_burger {
  width: 40px;
  height: 5px;
  background: $color_third;
  border-radius: 5px;
  box-shadow: 0 2px 5px $color_second;
  transition: all .5s ease-in-out;

  &::before, &::after {
    content: '';
    position: absolute;
    right: 0px;
    width: 40px;
    height: 5px;
    background: $color_third;
    border-radius: 5px;
    box-shadow: 0 2px 5px $color_second;
    transition: all .5s ease-in-out;
  }

  &::before {
    transform: translateY(-16px);
  }

  &::after {
    transform: translateY(16px);
  }
}

/* TOGGLE ANIMATION */
.toggle_btn.open .toggle_btn_burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;

  &::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  &::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
}

/*RESPONSIVE DESIGN*/
//SKOŃCZYŁEM PISAĆ 7:27
