@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald:wght@600&display=swap');

/*FONTS*/
$font-main: 'Lato',sans-serif;
$font-heading: 'Oswald', sans-serif;

/*COLORS*/
$color_one: #887474;
$color_second: #000000;
$color_third: #FFFFFF;
$fourth_color: #ff5349;
$fifth_color: #ffa500;

/*GLOBAL*/
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: $color_one;
  // background-image: url('../images/background_triangles.webp');
  font-family: $font-main;
  //font-size: 18px;
  height: 100vh;
  //width: 100vh;
  //color: #FFFFFF;
  // margin: 0;
  // padding: 0;
  // line-height: 1.7;
  // font-size: 16px;
  // overflow: hidden;
}

/*HEADER*/
.splash {
  position: relative;
  padding: 0 0.5rem;
}

/*SECTION*/
.section {
  display: flex;
  flex-flow: column;
  //justify-content: space-between;
  position: relative;
  top: 20vh;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding: 0 40px;
  text-align: center;
  gap: 1em;
}

.hero {
  // position: relative;
  // top: 10vh;
  font-size: 1.5em;
  font-weight: bold;
  //background-color: blue;
  flex: 0 0 30%;
  color: $color_third;

  .hero_primary_name {
    color: $fifth_color;
    font-size: larger;
  }

  .hero_secondary {
    font-size: 28px;

    span {
      font-size: small;
      color: $fifth_color;
    }
  }
}

.about {
  //background-color: orange;
  flex: 0 0 60%;
  height: 60vh;
  font-size: 1.5em;
}

.experiences {
  //background-color: yellow;
  flex: 0 0 60%;
  height: 50vh;
}

.projects {
  //background-color: lightblue;
  height: 33vh;
  flex: 0 0 80%;
}

.contact {
  //background-color: greenyellow;
  flex: 0 0 30%;
  height: 33vh;
}

footer {
  //background-color: #fff;
  height:20vh;
  width: 100%;
  flex: 0 0 10%;
}

/*NAVIGATION*/
.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo a {
    position: relative;
    top: 4rem;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }

  .links {
    display: flex;
    gap: 2rem;
  }
}

/*---TOGGLE BUTTON---*/
li {
  list-style: none;
}

a{
  text-decoration: none;
  color: $color_third;font-size: 1rem;

  &:hover {
    color: $fourth_color;
  }
}

.action_btn {
  background-color: $fourth_color;
  color: $color_third;
  padding: 0.6rem 1rem;
  border: none;
  // outline: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
  transition: scale 0.2 ease;

  &:hover {
    scale: 1.05;
    color: $color_second;
  }

  &:active {
    scale: 0.95;
  }
}

.toggle_btn {
  background: transparent;
  border: none !important;
  font-size:0;
  padding: 0;
  position: relative;
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.toggle_btn_burger {
  width: 40px;
  height: 5px;
  background: $color_third;
  border-radius: 5px;
  box-shadow: 0 2px 5px $color_second;
  transition: all .5s ease-in-out;

  &::before, &::after {
    content: '';
    position: absolute;
    right: 0px;
    width: 40px;
    height: 5px;
    background: $color_third;
    border-radius: 5px;
    box-shadow: 0 2px 5px $color_second;
    transition: all .5s ease-in-out;
  }

  &::before {
    transform: translateY(-16px);
  }

  &::after {
    transform: translateY(16px);
  }
}

/* TOGGLE ANIMATION */
.toggle_btn.open .toggle_btn_burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;

  &::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  &::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
}

/*DROPDOWN MENU*/
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 300px;
  height: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.dropdown_menu.open {
  height: 280px;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/*RESPONSIVE DESIGN*/
@media(max-width:992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }

  .section {
    top: 32%;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }

  .logo {
    position: relative;
    writing-mode: horizontal;
    transform: rotate(90deg);
    left: 25%;
  }
}
