@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Oswald:wght@600&display=swap');

/*FONTS*/
$font-main: 'Lato',sans-serif;
$font-heading: 'Oswald', sans-serif;

/*COLORS*/
$brown-color: #887474;

/*GLOBAL*/
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/images/background.webp");
  //background-attachment: fixed;
  background-color: $brown-color;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header {
  font-family: $font-heading;
  // display: flex;
  width: 100%;
  height: 15vh;
}

.header_content {
  position: relative;
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  left: 20vh;
  width: 85%;
  height: 15vh;
  //background-color: $brown-color;
}

.logo_container {
  position: relative;
  right: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2vh 0vh;

  .logo_img {
    width: 20vh;
    height: 20vh;
    // background-size: cover;
    //border: 5px solid;
    border-radius: 100%;
    //box-shadow: -20px 30px 40px -20px rgba(66, 68, 90, 1);
    //opacity: 0.9;
    outline: 10px outset #d64e00;
    outline-offset: -5px;
    transition: all .3s ease-in-out;
  }
  .logo_img:hover {
    outline: 10px inset $brown-color;
    outline-offset: -5px;
    transition: all .3s ease-in-out;
  }

  .logo_sub {
    font-size: 12px;
    // writing-mode: vertical-lr;
    // direction: rtl;

    h1 {
      writing-mode: vertical-lr;
      text-transform: uppercase;
    }
  }
}

.header_main {
  position: relative;
  top: -22vh;
  left: 20vh;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.header_nav {
  display: flex;
  width: 50vh;
  padding-right: 5vh;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
}

.nav_link_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  a {
    text-decoration: none;
    cursor: pointer;
    color: black;
  }
}

section {
  font-family: $font-main;
}

.home_primary_name  {
  color:#822f01;
  font-size: larger;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}

.home {
  width: 100%;
  height: 100vh;

  .home_content {
    margin: 7vh 5vh;
  }
  .info_secondary {
    padding: 5vh 10vh;
    font-size: 18px;
  }
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  visibility: hidden; //włącz widzialność na małych rozdzielczościach a ukryj menu kontekstowe u góry
  /* border: 3px solid #fff; */
}
.menu-btn__burger {
  width: 50px;
  height: 6px;
  background: black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
